.promo{
  display: flex;
  position: relative;
  background-color: #073042;
}

.promo__logo {
  display: block;
  width: 320px;
  max-height: 320px;
  padding: 82px 0 122px;
  margin: 0 auto;
}

.promo__name {
  margin: auto;
  max-width: 730px;
  position: absolute;
  top: 184px;
  left: 0;
  right: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 0 20px;
}

@media screen and (max-width: 800px){
  .promo__logo {
    padding: 224px 0 240px;
  }

  .promo__name {
    top: 326px;
  }  
}

@media screen and (max-width: 700px){
  .promo__name {
    max-width: 650px;
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 600px){
  .promo__logo {
    width: 280px;
  }

  .promo__name {
    max-width: 580px;    
    top: 320px;
  }
}

@media screen and (max-width: 500px){
  .promo__logo {
    padding: 142px 0 180px;
    width: 248px;
  }

  .promo__name {
    max-width: 500px;    
    top: 207px;
    font-size: 31px;
    line-height: 39px;
    padding: 0 10px;
  }

}

@media screen and (max-width: 360px){

}