.search-form__form {
  padding: 60px 70px 0;
  position: relative;
}

.search-form__element {
  width: 100%;
  min-height: 46px;
  border-radius: 40px;
  border: none;
  background-color: #2F2F2F;
  color: #8B8B8B;
  box-sizing: border-box;
  padding-left: 22px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.search-form__element:focus {
  outline: none;
}

.search-form__btn {
  background-color: #2F2F2F;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 65px;
  right: 72px;
  border-radius: 40px;
  transition: opacity 1.5s;
}

.search-form__btn:hover{
  opacity: 0.8;
}

.search-form__arrow{
  position: absolute;
  top: 11px;
  left: 21px;
}

@media screen and (max-width: 800px){
  .search-form__form {
    padding: 80px 30px 0;
  }

  .search-form__btn { 
    top: 85px;
    right: 32px;
  }
}

@media screen and (max-width: 400px){
  .search-form__form {
    padding: 80px 14px 0;
  }

  .search-form__btn { 
    top: 85px;
    right: 16px;
  }
}