.box {
  margin: 41px 0 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 69px;
  border-bottom: 1px solid #424242;
}

.box__text {
  margin: 0;
  padding-left: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.box__filter-box{
  display: flex;
}

.box__filter-name{
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  margin: 0 14px 0 0;
}
  
.box__filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 20px;
  width: 36px;
  margin: 0;
  background-color: #e8e8e8;
  border-radius: 20px;
  padding: 6px;
  position: relative;
}

.box__filter_active{
  background-color: #2BE080;
}

.box__filter:hover .box__switch{
  transform: scale(1.7);
}

.box__radio{
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 50px;
  opacity: 0;
  z-index: 3;
}

.box__radio:hover{
  cursor: pointer;
}

.box__switch{
  box-sizing: border-box;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 0;
  z-index: 2;
  transition: transform .3s ease-in;
}

.box__radio:checked ~ .box__switch{
  left: 0;
}

.box__radio ~ :checked ~ .box__switch{
  left: 16px;
}

.box__filter .box__radio:checked{
  z-index: 1;
}

@media screen and (max-width: 1023px){

  .box__form{
    flex-wrap: wrap;
    justify-content: center;
  }

  .box__input{
    margin-right: 0;
    margin-bottom: 38px;
  }

  .box__btn{
    top: 7%;
    right: 7px;
  }
}

@media screen and (max-width: 800px){
  .box {
    margin: 41px 0 10px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 650px){
  .box__input{
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 425px){
  .box__input{
    font-size: 11px;
    line-height: 1.63;
  }
  .box__filter-name{
    font-size: 11px;
    line-height: 1.63;
    margin: 0 13px 0 0;
  }
}

@media screen and (max-width: 400px){
  .box {
    margin: 41px 0 10px;
    padding-bottom: 50px;
  }

  .box__text {
    font-size: 11px;
  }
}