.about-project {
  padding: 110px 70px;
  background-color: #202020;
}

.about-project__name {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom:  1px solid #DADADA;
  padding-bottom: 23px;
}

.about-project__info {
  padding-top: 70px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 550px 550px;
  column-gap: 40px;
  margin-bottom: 110px;
}

.about-project__item{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__item_title {
  padding-bottom: 26px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__long {
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(100px, 1fr) 4fr;
  grid-template-rows: 36px 17px;
  row-gap: 14px;
}

.about-project__time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__time_color-green {
  min-width: 100%;
  min-height: 100%;
  background-color: #3DDC84;
  color: #000;
}

.about-project__time_color-grey {
  background-color: #303030;
  min-width: 100%;
  min-height: 100%;
}